title: Ricardo Jaimes Hernandez
description: Cybersecurity Portfolio

url: "https://rickjaimesdez.github.io"
baseurl: ""

plugins:
  - jekyll-seo-tag
  - jekyll-feed

collections:
  writeups:
    output: true





